.quote {
  width: 64%;
  height: 64%;
  margin: 0 18%;
  padding: 4%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.8);
}

.quote span {
  margin: 1rem;
  font-size: 1.6rem;
}

.quote a {
  margin-top: 4rem;
  margin-bottom: 2rem;
  padding: 0.4rem 2rem;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.8);
  border-radius: 32%;
  background-color: rgba(0, 0, 0, 0.8);
  color: rgba(128, 255, 128, 0.8);
  font-size: 1.6rem;
  font-weight: bold;
  text-decoration: none;
}

.quote a:hover,
.quote a:active {
  border-radius: 16%;
  color: white;
}