.highlighted {
  background-color: rgba(128, 255, 128, 0.8);
  color: black;
  border-radius: 8px;
  padding: 2rem;
  margin: 2rem auto;
  width: 64%;
  max-width: 32rem;
}

.highlighted p {
  font-size: 2rem;
}

.highlighted figcaption {
  font-style: italic;
  font-size: 1.6rem;
  text-align: right;
  color: white;
}