.notification {
  position: fixed;
  width: 64%;
  height: 32%;
  left: 18%;
  top: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom-left-radius: 32%;
  border-bottom-right-radius: 32%;
  box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.8);
  border: 2px solid rgba(128, 255, 128, 0.8);
  border-top: transparent;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 8192;
}

.notification span:first-child {
  font-size: 1.6rem;
}

.notification span {
  margin: 1rem;
  font-weight: bold;
}

.notification div {
  margin: 1rem;
}

.notification button {
  position: absolute;
  right: 1rem;
  top: 1rem;
  border: 2px solid rgba(128, 255, 128, 0.8);
  border-radius: 32%;
  background-color: rgba(0, 0, 0, 0.8);
  color: rgba(128, 255, 128, 0.8);
  cursor: pointer;
  text-decoration: none;
}

.notification button:hover,
.notification button:active {
  border-color: white;
  border-radius: 16%;
  color: white;
}